:root {
  --bg-color: #ffffff;
  --text-color: #000000;
}

@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

#theme-box-border {
    height: fit-content;
    min-width: 50%;
}

#spinner {
    position: absolute !important;
    top: 50vh;
    left: 50vw;
}